@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<UserListViewModel>
@{
    ViewData["Title"] = "User List";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <div class="btn-group">
            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-default">Add User</a>
        </div>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>
                            <a asp-controller="Manage" asp-action="Index" asp-route-id="@item.Id" class="btn btn-default">Edit
                            </a>
                            <a  asp-action="DeleteUser" asp-route-id="@item.Id" class="btn btn-default">Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>