@model UserViewVM
@{
    ViewData["Title"] = "View User Account";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Email"></label>
            <label class="form-control">@Model.Email</label>
        </div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <label class="form-control">@Model.UserName</label>
        </div>
        <div class="form-group">
            <label>Name</label>
            <label class="form-control"> @Model.FirstName @Model.LastName</label>
        </div>
        <div class="form-group">
            <a asp-action="Index" class="btn btn-info">Back to List</a> |
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>

