@model EReviewer.ViewModels.QuestionViewModels.QuestionAddVM

@{
    ViewData["Title"] = "Add Questions";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subjects" class="control-label"></label>
                <select asp-for="Subjects" class="form-control" asp-items="@Model.Subjects"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExamTypes" class="control-label"></label>
                <select asp-for="ExamTypes" class="form-control" asp-items="@Model.ExamTypes"></select>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a asp-area="" asp-action="AddOptions" class="btn btn-primary">Add Options</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Is Answer?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Options)
                                    {
                                        <tr>
                                            <td>@item.Description</td>
                                            <td>@item.IsAnswer</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
